<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="urldays" value="http://api.openweathermap.org/data/2.5/forecast?id=602150&amp;units=metric&amp;APPID=20bce444f32726519a501eba53c20e75"/>
    <add key="url" value="http://api.openweathermap.org/data/2.5/forecast?id=602150&amp;units=metric&amp;APPID=20bce444f32726519a501eba53c20e75&amp;cnt=1"/>
  </appSettings>
</configuration>